.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  border: 1px solid black;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
  cursor: pointer;
}

.Cockpit button.Red {
  background-color: red; 
}

.Cockpit button.Red:hover {
  background-color: salmon;
}